.b {color: blue; }
.y { color: yellow; }
.g { color: green; }
.r { color: red; }
.m { color: magenta; }
.backb { background-color: blue; }
.backy { background-color: yellow; }
.backg { background-color: green; }
.backr { background-color: red; }
.backm { background-color: magenta; }