<html>
    <head>
        <title>Boxes</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <p>{{text}}</p>
        <p>Boxes:</p>
        {% for box in cur_boxes %}
            <p><a href="http://127.0.0.1:5000/boxes/{{box[0]}}" class="{{box[1][0]}}">{{box[0]}}</a></p>
        {% endfor %}
        <form action="/boxes" method="POST">
            <label>Box name:</label><br>
            <input type="text" name="name"><br>
            <label>Box color:</label><br>
            <input type="text" name="color"><br>
            <input type="submit" value="Submit">
        </form>
        <a href="http://127.0.0.1:5000/logout">Logout</a>
    </body>
</html>